.loader-div {
  width: 98%;
  height: 50vh;
  display: grid;
  place-items: center;
}

.update-data-container {
  width: 98%;
  background-color: whitesmoke;
  padding: 1rem;
  min-height: 50vh;
  display: grid;
  place-items: center;
  margin-top: 2.3rem;

  > .update-data-heading {
    margin-top: 1.5rem;
    margin-bottom: 2.1rem;
    > span {
      color: rgba(0, 0, 255, 0.6);
    }
  }

  > form {
    background-color: white;
    margin-bottom: 1.6rem;
    padding: 1.2rem;
    border-radius: 8px;
    width: 60%;
    -webkit-box-shadow: 10px 10px 51px -24px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 51px -24px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 51px -24px rgba(0, 0, 0, 0.75);

    > div {
      width: 98%;
      margin-top: 1rem;
      margin-bottom: 0.8rem;

      > label {
        font-size: 1.1rem;
        display: inline-block;
        margin-left: 8px;
      }

      > input {
        width: 90%;
        margin-top: 0.7rem;
        border: none;
        outline: none;
        padding: 0.6rem 0.6rem;
        font-size: 1rem;
        border-radius: 10px;
        background-color: rgba(128, 128, 128, 0.195);
        margin-bottom: 0.8rem;
      }
    }

    > button {
      border: none;
      outline: none;
      font-size: 1rem;
      padding: 0.6rem 0.6rem;
      margin-top: 0.3rem;
      border-radius: 10px;
      cursor: pointer;
      background-color: rgba(0, 0, 255, 0.4);
      color: white;
    }
  }
}

@media (max-width: 1100px) {
  .update-data-container form {
    width: 70%;
  }
}

@media (max-width: 620px) {
  .update-data-container form {
    width: 85%;
  }
}

@media (max-width: 500px) {
  .update-data-container form {
    width: 95%;
    padding: 0.8rem;
  }

  .update-data-container form div input {
    width: 98%;
  }
}

@media (max-width: 350px) {
  .update-data-container form {
    width: 98%;
  }

  .update-data-container {
    width: 100%;
    padding: 0.5rem;
  }
}
